* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

#greeter {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#greeter .background {
  width: 100%;
  height: 100vh;
  background-image: url(../images/background_image.png);
  background-size: cover;
  background-position: center;
  filter: blur(5px) grayscale(.25);
  animation: 5s wow cubic-bezier(0.23, 1, 0.320, 1) infinite alternate-reverse;
}

@keyframes wow {
  0% {
    background-position: 0 0;
    transform: scale(1);
  }
  50% {
    background-position: center;
    transform: scale(200%);
    filter: blur(0px) grayscale(0);
  }
  100% {
    background-position: 100% 100%;
    transform: scale(1);
  }
}

#greeter .center {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
}

#greeter .center h1, h3 {
  color: #fff;
  font-family: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#greeter .center h1 {
  font-size: 4em;
}

.gallery-container {
  background: #f5deb3;
  padding: 2px;
  width: 100%;
  height: 100vh;
}

.gallery-container h2 {
  margin-top: 10px;
  text-align: center;
  font-size: 200%;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100vh;
}

.gallery .image-container {
  display: inline-block;
  margin: 1vw;
  max-width: 250px;
  max-height: 250px;
}

.gallery .image-container img {
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
  display: inline-block;
  filter: blur(.5px) grayscale(50%);
  transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
}

.gallery .image-container img.preview {
  max-width: auto;
  max-height: 100vh;
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  flex-grow: 2;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  object-fit: scale-down;
  filter: none;
  overflow: hidden;
}

.gallery .image-container img:hover{
  filter: none;
  transform: scale(125%);
  z-index: 10;
}

.gallery .image-container img.preview:hover {
  filter: none;
  transform: translate(-50%,-50%);
}