* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.gallery {
  background: wheat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100vh;
}

.gallery .image-container {
  display: inline-block;
  margin: 1vw;
  max-width: 250px;
  max-height: 250px;
}

.gallery .image-container img {
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
  display: inline-block;
  filter: blur(.5px) grayscale(50%);
  transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
}

.gallery .image-container img.preview {
  max-width: auto;
  max-height: 100vh;
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  flex-grow: 2;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  object-fit: scale-down;
  filter: none;
  overflow: hidden;
}

.gallery .image-container img:hover{
  filter: none;
  transform: scale(125%);
  z-index: 10;
}

.gallery .image-container img.preview:hover {
  filter: none;
  transform: translate(-50%,-50%);
}